    #header{
        z-index: 20;
        background-color: #fff;
        @media screen and (min-width:1200px){
            .container{
                padding: 0;
            }
        }
        @media screen and (max-width:1200px){
            .col-lg{
                margin-top: 10px;
            }
        }
        .border-line{
            border-bottom: 1px solid #0e96ff;
        } 
        .header-links{
            align-items: center;
            justify-content: space-between;
            padding-top: 18px;
            padding-bottom: 18px;
            @media screen and (min-width:992px){
                .col-lg{
                    &:nth-child(1){
                        width: 181px;
                    }
                }
            }
        }
        .custom-select{
            text-align: center;
            display: block;
            width: 157px;
            margin: 0 auto;
            padding-right: 10px;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Futura PT',sans-serif;
            background:95% center / 10px no-repeat url(../img/keyboard-right-arrow-button.svg);
            color: #000;
            box-shadow: none;
            border: none;
            cursor: pointer;
            option{
                font-size: 18px;
                font-weight: 600;
                font-family: 'Futura PT',sans-serif;
                background: transparent;
            }
        }
        
        .logo-link{
            justify-content: center;
            align-items: center;
            min-width: 181px;
            text-decoration: none;
            &:hover{
                color: #0987d4;
            }
            span{
                font-family: 'Circe', sans-serif;
                &:nth-child(1){
                    font-size: 25px;
                    line-height: 29px;
                    font-weight: 900;
                    letter-spacing: -4px;
                    color: #0987d4;
                }
                &:nth-child(2){
                    margin-top: 8px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    color: #000;
                }
            }
            img{
                height: 59px;
            }
        }
        .phone-link{
            min-width: 202px;
        }
        .phone-link, .mail-link{
            @media screen and (max-width:768px){
                margin-top: 20px;
            }
            justify-content: center;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            .d-flex{
                width: 31px;
                height: 31px;
                margin-right: 6px;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 3px solid #0e96ff;
                border-radius: 15.5px;
            }
            span{
                font-style: normal;
                font-size: 18px;
                font-weight: 600;
                font-family: 'Futura PT',sans-serif;
                color: #000;
            }
            &:hover{
                .d-flex{background-color: #0e96ff;}
                path{
                    fill:#fff;
                }
                polygon{
                    fill:#fff;
                }
            }
        }
        .orange-button{
            width: 245px;
            height: 45px;
           @media screen and (max-width:1200px){
               margin: 0 auto;
           }
        }
        .menu-container{
            @media screen and (max-width:992px){
                .navbar{
                    position: fixed;
                    left: 10px;
                    top: 10px;
                    background-color: #fff;
                    border-radius: 0.25rem;
                    z-index: 100;
                    button:focus{
                       outline: none;
                    }
                }
            }
            nav{
                .navbar-nav{
                    justify-content: space-between;
                    width: 100%;
                }
                padding: 0;
                li:not(.drop-ul-li){ 
                    position: relative;
                    padding: 0px;
	                font-style: normal;
                    font-size: 20px;
                    font-weight: normal;
                    font-family: 'Circe', sans-serif;
                    border-radius: 0;
                    color: #000;
                    &.active{
                        a:not(.drop-a){
                            color: #fff;
                            background-color: #0090ff;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                    a{
                        padding: 12px 30px;
                        color: #000;
                        &:hover{
                            color: #0090ff;
                        }
                    }
                    &:hover{
                        > .drop-ul{
                            display: block;
                        }
                    }
                }
            }
            .drop-ul{
                position: absolute;
                left: -50%;
                z-index: 9;
                display: none;
                width: 252px;
                border: 1px solid #0d96ff;
                box-sizing: border-box;
                list-style: none;
                &-li{
                    position: relative;
                    a{
                        display: block;
                        width: 100%;
                        padding: 17px 10px!important;
                        text-align: center;
                        font-size: 16px;
                        background: #fff;
                        color:#000;
                        box-sizing: border-box;
                        text-decoration:none;
                        cursor: pointer;
                        &:hover{
                            background: #0d96ff;
                            color:#fff!important;
                            text-decoration:none;
                        }
                    }
                }
                @media screen and (max-width:992px){
                    left:0;
                }
            }
        }
    }
    @media screen and (min-width:1200px){
        #header.header_min{
            position: fixed;
            top: 0;
            height: 47px;
            width: 100%;
            background-color: #fff;
            border-top: 1px solid #0e96ff;
            border-bottom: 1px solid #0e96ff;

            .fix-container{
                position: relative;
                height: 100%;
                max-width: 1140px;
                margin: 0 auto;
            }
            .container{
                height: 100%;
            }
            .row{
                height: 100%;
                .col-lg{
                    &:nth-child(1){
                        position: absolute;
                        left: 0;
                        width: 138px;
                        height: 100%;
                        padding: 0;
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        position: absolute;
                        right: 0;
                        width: 190px;
                        padding: 0;
                    }
                    &:nth-child(4){
                        display: none;
                    }
                    &:nth-child(5){
                        display: none;
                    }
                }
            }
            .menu-container{
                position: absolute;
                top: 0;
                left: 50%;
                height: 100%;
                max-width: 780px;
                margin-left: -400px;
                nav{
                    height: 100%;
                    margin: 0 auto;
                    .nav-item{
                        font-size: 14px;
                    }
                }
            }
            .border-line{
                display: none;
            }
            .logo-link{
                width: 100%;
                height: 100%;
                justify-content: left;
                span{
                    &:nth-child(1){
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0px;
                    }
                    &:nth-child(2){
                        margin-top: 0px;
                        font-size: 8px;
                        line-height: 11px;
                    }
                }
                img{
                    width: 30px;
                    height: 29px;
                }
            }
            .phone-link{
                width: 100%;
                max-width: none;
            }
        }
        .navbar-collapse{
            height: 100%;
            .navbar-nav{
                height: 100%;
                .nav-item{
                    height: 100%;
                    a{
                        height: 100%;
                    }
                }
            }
        }
    }