.main-banner-block{
    padding-top: 12px;
    font-family: 'Montserrat', sans-serif;
    .ah1{
        margin-bottom: 22px;
        font-style: normal;
        font-size: 38px;
        line-height: 42px;
        font-weight: 900;
    }
    .ah2{
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .ah3{
        padding-right: 40px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .ah4{
        margin-top: 10px;
        font-size: 11px;
        line-height: 14px;
        font-weight: 500;
    }
    .main-button-block-input{
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 2px solid #000;
        border-radius: 68px;
        color: #000;
        @media screen and (min-width:1200px){
            width: 50%;
        }
    }
    .orange-button{
        width: 100%;
        @media screen and (min-width:1200px){
            width: 230px;
        }
    }
    .main-banner-block-image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            display: block;
            @media screen and (min-width:1200px){
                width: 500px;
                margin-bottom: -30%;
            }
        }
    }
    &-form{
        .ah2{
            margin-bottom: 11px;
        }
    }
}
.orange-button{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Circe',sans-serif;
    color: #000!important;
    background-color: #ffbd57!important;
    border: none!important;
    border-radius: 68px;
    box-shadow: none!important;
    cursor: pointer;
    &:before{
        content: "";
        left: 10px;
        width: 20px;
        height: 20px;
        margin-right: 17px;
        background-position: center;
        background-size: cover;
        background-image: url(../img/call-answer.svg);
    }
}
.white-block{
    padding: 36px 28px;
    background-color: #fff;
}