.main-banner-block{
    padding-top: 12px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    background: center / cover url(../images/img1.jpg) no-repeat;
    .ah1{
        margin-bottom: 22px;
        font-style: normal;
        font-size: 38px;
        line-height: 42px;
        font-weight: 900;
        @media screen and (max-width:576px){
            font-size: 25px;
            line-height: 28px;
        }
    }
    .ah2{
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .ah3{
        padding-right: 40px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .ah4{
        margin-top: 10px;
        font-size: 11px;
        line-height: 14px;
        font-weight: 500;
    }
    &-input{
        width: 100%!important;
        height: 40px;
        background-color: transparent;
        border: 2px solid #000;
        border-radius: 68px;
        color: #000;
        @media screen and (min-width:1200px){
            width: 50%!important;
        }
    }
    .orange-button{
        width: 100%;
        @media screen and (min-width:1200px){
            width: 230px;
        }
    }
    &-image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            display: block;
            @media screen and (min-width:1200px){
                width: 500px;
                margin-bottom: -30%;
            }
        }
    }
    &-form{
        .ah2{
            margin-bottom: 11px;
        }
    }
    .white-block-second{
        margin-top: 20px;
    }
}
.orange-button{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Circe',sans-serif;
    color: #000!important;
    background-color: #ffbd57!important;
    border: none!important;
    border-radius: 68px;
    box-shadow: none!important;
    cursor: pointer;
    &:before{
        content: "";
        left: 10px;
        width: 20px;
        height: 20px;
        margin-right: 17px;
        background-position: center;
        background-size: cover;
        background-image: url(../img/call-answer.svg);
    }
}
.white-block{
    padding: 36px 28px;
    background-color: #fff;
}
.advantages-block{
    .row{
        justify-content: center;
        @media screen and (max-width:576px) {
            padding: 0px 15px;
        }
    }
    padding: 55px 0px 40px 0px;
    .ah2{
        display: block;
        margin-bottom: 60px;
        text-align: center;
        font-size: 34px;
        line-height: 40px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }
    &-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px 5px;
        padding: 50px 10px 36px 10px;
        background-color: #edfbfb;
        box-shadow: 0px 0px 10px 0px rgba(207, 207, 207, 0.5);
        img{
            width: 75px;
        }
        p{
            text-align: center;
            margin-top: 34px;
            font-size: 18px;
            line-height: 22px;
            font-family: 'Futura PT Book', sans-serif;
        }
        @media screen and (max-width:992px){
            margin-top: 10px;
        }
    }
}

.description-block{
    &-body{
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        h5{
            font-weight: bold;
        }
    }
    @media screen and (max-width:992px) {
        .description-block-body{
            padding: 0px 30px;
        }
        img{
            width: 40%;
            align-self: center;
        }
    }
    @media screen and (max-width:576px){
        .media {flex-direction: column;}
        img{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}